@import url(https://fonts.bunny.net/css?family=playfair-display:400|roboto:400);

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}

p, div {
    margin: 0;
    padding: 0;
}

svg {
    height: 24px;
    fill: black;
}

.portrait-ph {
    height: 320px;
    width: 300px;
    object-fit: cover;
}

.project-ph {
    background-color: aqua;
    height: 175px;
    width: 100%;
    text-align: center;
}

.bg {
    background-color: #0891B2;
    height: 450px;
    width: 130%;
    top: -200px;
    left: -150px;
    transform: rotate(-15deg);
    position: absolute;
    z-index: -1;
}

.work, .top {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: relative;
}

header {
    position: relative;
}

header h1 {
    color: white;
    letter-spacing: 0.28em;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.about {
    background-color: white;
    max-width: 40ch;
    position: absolute;
    top: 50px;
    left: 300px;
}

.card {
    background-color: white;
    width: 250px;
}

.about, .card, .portrait-ph, .bg {
    box-shadow: 2px 2px 4px #00000044;
}

.contact {
    margin-top: auto;
    background-color: #0891B2;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.contact svg {
    fill: white;
}

.contact-left {
    width: 35ch;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 0.7rem;
}

.phone, .email {
    display: flex;
    align-items: center;
}

.contact-right {
    height: 90%;
    width: 50ch;
    align-self: center;
    overflow: hidden;
}

.working-ph {
    width: 100%;
    height: 300px;
    object-fit: cover;
}