@import url(https://fonts.bunny.net/css?family=playfair-display:400|roboto:400);

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

svg {
    height: 24px;
    fill: black;
}