@import url(https://fonts.bunny.net/css?family=playfair-display:400|roboto:400);

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}

p, div {
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5em;
}

svg {
    height: 24px;
    fill: black;
}

.social svg:hover, 
.project-links svg:hover,
.email:hover {
    cursor: pointer;
}

.portrait-ph {
    height: 320px;
    width: 300px;
    object-fit: cover;
    position: relative;
}

.bg-container {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: absolute;
}

.bg {
    background-color: #0891B2;
    position: absolute;
    z-index: -1;
    transform: rotate(-15deg);
    height: 100vh;
    width: 200vw;
    top: -85vh;
    left: -40vw;
}

/* .bg {
    background-color: #0891B2;
    position: absolute;
    transform: rotate(-15deg);
    height: 800px;
    width: 4000px;
    top: -700px;
    left: -400px;
} */

.work, .top {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: relative;
}

header {
    position: relative;
    z-index: 2;
    margin-top: 1rem;
    width: max-content;
}

header h1 {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 3;
    font-size: 40px;
    text-shadow: 2px 2px 4px #00000044;
}

.about {
    background-color: white;
    max-width: 470px;
    position: absolute;
    top: 50px;
    left: 300px;
    z-index: 1;
    padding: 1rem 1rem 1rem 2.3rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.about .social {
    margin-left: auto;
}

.social {
    display: flex;
    gap: 0.5rem;
}

.cards {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card {
    background-color: white;
    height: 320px;
    flex: 1 1 250px;
    transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.project-top {
    display: flex;
    justify-content: space-between;
}

.project-links {
    display: flex;
    gap: 0.5rem;
}

.card-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 1rem;
}

.project-ph {
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-ph p {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-align: center;
    padding: 3rem;
    color: white;
}

.about, .card, .portrait-ph, .bg {
    box-shadow: 2px 2px 4px #00000044;
}

.contact {
    margin: auto 0 0 0;
    padding: 2rem 1rem;
    background-color: #0891B2;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.contact svg {
    fill: white;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    flex: 1 1 50%;
    max-width: calc(400px - 0.5rem);
}

.phone, .email {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.contact-right {
    flex: 0 1 40%;
    align-self: center;
    max-width: calc(400px - 0.5rem);
}

.working-ph {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

@media (width < 850px) {

    header {
        margin-top: 0;
        width: 100%;
    }

    header h1 {
        right: 0;
        left: initial;
        top: -10px;
    }

    .portrait-ph {
        float: left;
        top: -15px;
        left: -20px;
        margin-bottom: -20px;
    }

    .about {
        max-width: 100%;
        position: initial;
        top: initial;
        left: initial;
        padding: 1rem 1rem 1rem 2.3rem;
        margin-right: 0;
        display: block;
        margin-top: 3rem;
    }

    .about h2, .about p {
        margin-bottom: 0.7rem;
    }

    .about .social {
        display: none;
    }

    .work, .top {
        padding: 3rem 3rem 0;
    }

    .contact {
        padding: 1.5rem;
    }
}

@media (width < 625px) {

    .work, .top {
        padding: 1.5rem 1.5rem 1.5rem;
    }

    header h1 {
        left: 1rem;
        top: 210px;
        width: 100px;
    }

    .portrait-ph {
        float: none;
        top: 0;
        left: 0;
        margin-bottom: 0;
        width: 100%;
    }

    .about {
        padding: 0;
        background-color: #00000000;
        box-shadow: none;
    }

    .about .social {
        display: flex;
        justify-content: center;
    }

    .contact {
        padding: 1.5rem 1rem 0 1rem;
        overflow: hidden;
    }

    .contact h2 {
        text-align: center;
    }

    .contact .phone-icon, 
    .contact .email-icon {
        display: none;
    }

    .contact .social {
        justify-content: center;
    }

    .contact-left {
        min-width: 100%;
        padding-bottom: 1.5rem;
    }

    .contact-right {
        min-width: 100vw;
        margin-bottom: -1rem;
    }

    .working-ph {
        max-height: 600px;
    }
}